* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #386a9d;
  color: #fff;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: "Sansation Light";
}

h1 {
  font-size: 19px;
  font-weight: 100;
}

.container {
  width: 1075px;
  height: 97vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example {
  width: 100%;
  display: flex;
  padding: 0 15px;
}

.left {
  width: 362px;
  display: flex;
  margin:16px 0;
  align-items: center;
  /* visibility: hidden; */
  position: relative;
}

.left p {
  font-size: 14px;
}

.checkout {
  width: 400px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-container {
  width: 375px;
  padding: 0 15px;
}

.about-container p {
  line-height: 1.2;
  font-size: 15px;
  letter-spacing: .4px;
}

.reactjs-txt {
  color: #a0d7ff;
}

.about-top {
  border-bottom: solid 1px #4578AC;
  padding: 15px 0px;
}

.about-bottom {
  padding: 15px 0px;
  font-weight: 300;
}

/* ::placeholder {
  color:#598FC6;
  font-size: 13px;
} */

input.InputElement.is-invalid.Input {
  color: #ffeb3b!important;
}

.ElementsApp .InputElement.is-invalid {
  color: #ffeb3b!important;
}

.btn {
  background: #fff;
  width: 100%;
  height: 37px;
  padding: 11px 0;
  margin: 5px 0;
  outline: none;
  border: none;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 15px;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #295C90;
  color:#fff;
}

.btn:active {
  background: #1b4b7b;
  color: #fff;
}

.form-container {
  width: 224px;
}

.form-middle-container {
  width: 100%;
}

footer {
  text-align: center;
}

.footer p {
  font-family: 'Sansation Light';
  font-weight: 100;
  font-size: 13px;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #333;
}

::selection {
  color: #fff; 
  background: #333;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;
  padding: 12px 12px;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  /* box-shadow: inset 1px 1px 0px 0px #000; */

  background: #fff;
  width: 100%;
  height: 40px;
  border: none;
  text-indent: 6px;
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 13px;
  outline: none;
}

/* .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
} */

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

span.btn-text {
  padding: 0 7px;
}

.test-card {
  height: 16px;
  display: flex;
  justify-content: flex-end;
}

.test-card p {
  font-size: 10px;
}

.test-card p a {
  color: #BAD0E6;
  text-decoration: none;
}

@media(max-width: 575px) {
  .container {
    width: 100%;
  }

  .example {
    width:100%;
  }
  .checkout {
    width: 100%;
  }
  .left{
    display: none;
  }
  .about-container {
    display: none;
  }
  .StripeElement {
    width: 100%;
  }
}